﻿<div class="ui-grid-cell-contents">
    <button type="button"
            class="btn btn-xs btn-primary"
            ng-click="grid.appScope.vm.editRow(grid, row)">
        <i class="fa fa-edit"></i>
    </button>
</div>