﻿<html>
<head>
    <!-- Standard Meta -->
    <meta charset="utf-8">
    <script src="/Scripts/jquery-1.10.2.min.js"></script>
	<script src="/Scripts/Semantic/semantic.min.js"></script>

	<script src="/Scripts/angular.min.js"></script>

	<script src="/Scripts/Custom/constStrings.js"></script>


	<script src="/Scripts/Custom/Helper/httpHelper.js"></script>
	<script src="/Scripts/Custom/Helper/userHelper.js"></script>

	<script src="/Scripts/Custom/SettingsUiStore.js"></script>
	<script src="/Scripts/Custom/layout.js"></script>
	<script src="/Scripts/Custom/logOut.js"></script>

	<link rel="stylesheet" type="text/css" href="/Content/semantic.min.css">
    
</head>
<body>
@*Меню с левой стороны*@
	<div ng-app="layoutApp" ng-controller="layout" ng-init="initLayout()">
		<div ng-if="userName!=null" class="ui attached stackable menu">
			<div class="ui container">
				<a class="item" href="/Store/Index">
					<i class="home icon" ng-bind=""></i>
					<div ng-bind="settingUiStore.topMenu.linkStore.title"></div>
				</a>
				<a ng-if="PrivateOfficeLink!=''" class="item" href="{{PrivateOfficeLink}}">
					<i class="user icon"></i>
					<div ng-bind="userName"></div>
				</a>
				<a id="logOutLink" class="right item">
					<i class="sign out icon"></i>
					<div ng-bind="settingUiStore.topMenu.linkLogOut.title"></div>
				</a>
			</div>
		</div>
	</div>
    <br />
    @RenderBody();
</body>
</html>