﻿@{
	Layout = null;
}
<html>
<head>
	<title></title>

	<!-- Standard Meta -->
	<meta charset="utf-8">
	<script src="/Scripts/jquery-1.10.2.min.js"></script>
	<script src="/Scripts/linq.min.js"></script>
	<script src="/Scripts/angular.min.js"></script>
	<script src="/Scripts/Semantic/semantic.min.js"></script>

	<script src="/Scripts/Custom/constStrings.js"></script>
	<script src="/Scripts/Custom/Helper/httpHelper.js"></script>
	<script src="/Scripts/Custom/Helper/userHelper.js"></script>
	<script src="/Scripts/Custom/attendanceTraps.js"></script>
	<script src="/Scripts/Custom/SettingsUiStore.js"></script>
	<script src="/Scripts/Custom/logOut.js"></script>
	<script src="/Scripts/Custom/cart.js"></script>

	<link rel="stylesheet" type="text/css" href="/Content/semantic.min.css">
</head>
<body  ng-app="appCart" ng-controller="Cart" ng-init="initCart()">

<div class="ui page dimmer">
	<div class="content">
		<div class="ui indeterminate text loader"></div>
	</div>
</div>

<div class="ui attached stackable menu">
	<div class="ui container">
		<a class="item" href="/Store/Index">
			<i class="home icon"></i>
			<div ng-bind="settingUiStore.topMenu.linkStore.title"></div>{{}}
		</a>
		<a ng-if="PrivateOfficeLink!=''" class="item" href="{{PrivateOfficeLink}}">
			<i class="user icon"></i><div ng-bind="userName"></div>
		</a>
		<a id="logOutLink" class="right item">
			<i class="sign out icon"></i>
			<div ng-bind="settingUiStore.topMenu.linkLogOut.title"></div>
		</a>
	</div>

	<!--Корзина-->
	<div class="ui secondary  menu">
		<div style="cursor: pointer" ng-click="redirectToCart()" class="active item">
			<i class="in cart icon"></i>
			<div ng-bind="settingUiStore.topMenu.linkCart.title"></div>
			<a class="ui green circular label">{{totalCartCount}}</a>
		</div>
		<a class="item">
		</a>
	</div>
</div>
	<div class="ui container">
		<table ng-if="products.length>0" class="ui very basic padded celled table">
			<thead>
				<tr>
					<th>Описание</th>
					<th>Количество</th>
					<th>Цена за штуку</th>
					<th>Размер</th>
					<th>Сумма</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="product in products track by $index">
					<td>
						<h2 class="ui center aligned header">{{product.Title}}</h2>
						<img class="ui tiny image" src="{{product.Image.Name}}">
					</td>
					<td>
						<div class="ui fluid large buttons">
							<button ng-if="!successfully" ng-click="removeFromCart(product)" class="ui mini inverted red button">
								<b>-</b>
							</button>
							<div class="or" data-text="{{product.CartCount}}"></div>
							<button ng-if="!successfully" ng-click="addToCart(product)" class="ui mini inverted green button">
								<b>+</b>
							</button>
						</div>

					</td>
					<td>
						<p ng-bind="product.Price + settingUiStore.messages.currencySymbol.title"></p>
					</td>
					<td>
						<p ng-bind="getSelectedSize(product)"></p>
					</td>
					<td>
						<p ng-bind="product.Price * product.CartCount +  settingUiStore.messages.currencySymbol.title"></p>
					</td>

				</tr>
			</tbody>
			<tfoot class="full-width">
				<tr>
					<th></th>
					<th></th>
					<th>
						<span ng-bind="settingUiStore.messages.fullCost.title + totalCost() + settingUiStore.messages.currencySymbol.title"></span>
					</th>
					<th colspan="4">
						@*Если успешно отправили заказ, если в корзине есть продукты, если хотябы 1 продукт заказывается в колечестве больше 1*@
						<button ng-if="!successfully && products.length>0 && totalCartCount>0" ng-click="makeCart()" class="ui positive button">
							<b ng-bind="settingUiStore.buttons.makeOrder.title"></b>
						</button>
					</th>
				</tr>
			</tfoot>
		</table>
		<hr />
		<div ng-if="successfully" class="ui huge teal message" ng-bind="settingUiStore.messages.orderIsAccepted.title"></div>
		<div ng-if="products.length==0 || totalCartCount==0" class="ui red message" ng-bind="settingUiStore.messages.cartIsEmpty.title"></div>
	</div>
</body>
</html>