﻿@{
	Layout = null;
}
<html>
<head>
	<title></title>

	<!-- Standard Meta -->
	<meta charset="utf-8">
	<script src="/Scripts/jquery-1.10.2.min.js"></script>
	<script src="/Scripts/Semantic/semantic.min.js"></script>
	<script src="/Scripts/angular.min.js"></script>

	<script src="/Scripts/linq.min.js"></script>

	<script src="/Scripts/Custom/constStrings.js"></script>
	<script src="/Scripts/Custom/SettingsUiStore.js"></script>
	<script src="/Scripts/Custom/store.js"></script>
	<script src="/Scripts/Custom/initSemantic.js"></script>


	<script src="/Scripts/Custom/Helper/httpHelper.js"></script>
	<script src="/Scripts/Custom/Helper/userHelper.js"></script>

	<script src="/Scripts/Custom/logOut.js"></script>

	<script src="/Scripts/Custom/visitTraps.js"></script>

	<link rel="stylesheet" type="text/css" href="/Content/semantic.min.css">
</head>
<body ng-app="app" ng-controller="store" ng-init="initStore()">
<div class="ui page dimmer">
	<div class="content">
		<div class="ui indeterminate text loader"></div>
	</div>
</div>

@*Меню с левой стороны*@
<div class="ui attached stackable menu">
	<div class="ui container">
		<a class="item"  href="/Store/Index">
			<i class="home icon"></i> {{settingUiStore.topMenu.linkStore.title}}
		</a>
		<a ng-if="PrivateOfficeLink!=''" class="item" href="{{PrivateOfficeLink}}">
			<i class="user icon"></i><div ng-bind="userName"></div>
		</a>
		<a id="logOutLink" class="right item">
			<i class="sign out icon"></i> {{settingUiStore.topMenu.linkLogOut.title}}
		</a>
	</div>

	<!--Корзина-->
	<div class="ui secondary  menu">
		<div style="cursor: pointer" ng-click="redirectToCart()" class="active item">
			<i class="in cart icon"></i>
			{{settingUiStore.topMenu.linkCart.title}}
			<a class="ui green circular label">{{cartCount}}</a>
		</div>
		<a class="item">
		</a>
	</div>
</div>
<br/>

@*Виджет с товарами*@
<div class="ui width grid">
	<div class="column">
	</div>

	<div class="twelve wide column">
		<div class="ui cards">

			<div ng-repeat="product in products track by $index" class="card">
				
				@*Описание продукта*@
				<div class="content">
					@*Название*@
					<div class="header" ng-bind="::product.Title"></div>
					<img class="ui centered fluid image" src="{{::product.Image.Name}}">
					@*Размер*@
					<div>
						<span ng-bind="settingUiStore.headers.size.title"></span> <div ng-repeat="size in product.SizesField" ng-click="sizeSelect(size, product)" style="cursor: pointer" class="{{size.cssStyle}}" ng-bind="::size.size">
							<div style="width: 5px"></div>
						</div>
					</div>
					@*Цена*@
					<div>
						<span ng-bind="settingUiStore.headers.productPriceHeader.title"></span> <span ng-bind="::product.Price + settingUiStore.messages.currencySymbol.title"></span>
					</div>
					<hr/>
					@*Описание товара*@
					<div class="description">
						<p ng-bind="settingUiStore.headers.productDescriptionHeader.title"></p>
						{{::product.Description}}
					</div>
				</div>

				@*Кнопки управления*@
				<div ng-if="product.selected" class="ui buttons">
					<div ng-click="buy(product)" class="ui button" ng-bind="settingUiStore.buttons.buyButton.title"></div> @*Кнопка "Купить"*@

					<div class="or" data-text="или"></div>

					<div ng-click="addToCart(product)" class="ui positive button">
						@*Кнопка в "В добавить корзину"*@
						{{settingUiStore.buttons.toCartButton.title}}
						<a style="position: absolute" ng-if="product.CartCount>0" class="ui grey circular label">{{product.CartCount}}</a>
					</div>
				</div>
				<div ng-if="!product.selected" class="ui blue message">
					<p ng-bind="settingUiStore.headers.productSizeNotSelectedHeader.title"></p>
				</div>

				@*<div style="height: 1px;" class="fluid ui"></div>*@
			</div>

		</div>
	</div>

	@*Виджет с сортировками*@
	<div class="three wide column">
		<div class="ui divided">
			<div class="ui center aligned basic segment">
				<div class="ui cards">
					<div class="card">

						@*Список категория*@
						<h5 class="grey ui horizontal divider header">
							<i class="small list icon"></i>
							{{settingUiStore.headers.categoryListHeader.title}}
						</h5>
						<div class="red card ui selection list divided">
							<div ng-click="productFilterByCategory()" class="item">
								<div class="content">
									<div class="header">{{settingUiStore.headers.categoryAllOrdersHeader.title}}</div>
								</div>
							</div>
							<div ng-click="productFilterByCategory(category.Id)" ng-repeat="category in categories" class="item">
								<div class="content">
									<div class="header">{{category.Title}}</div>
								</div>
							</div>
						</div>

						@*Блок сортировки по цене*@
						<h5 class="grey ui horizontal divider header">
							<i class="small list icon"></i>
							{{settingUiStore.headers.sortButtonsHeader.title}}
						</h5>
						<div class="ui icon buttons">
							<button ng-click="sortByPriceAscending()" class="ui button ascending" data-content="{{settingUiStore.buttons.ascendingButton.title}}">
								<i class="large sort content ascending icon"></i>
							</button>
							<button ng-click="sortByPriceDescending()" class="ui button descending" data-content="{{settingUiStore.buttons.descendingButton.title}}">
								<i class="large sort content descending icon"></i>
							</button>
						</div>


					</div>
				</div>
			</div>
		</div>
	</div>
</div>


</body>
</html>