﻿@{
	Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<title>Представьтесь</title>
	<meta charset="utf-8"/>
	<script type="text/javascript" src="/Scripts/jquery-1.10.2.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/i18n/jquery-ui-i18n.min.js"></script>
	<script type="text/javascript" src="/Scripts/jquery.validate.min.js"></script>
	<script type="text/javascript" src="/Scripts/Semantic/semantic.min.js"></script>
	<script type="text/javascript" src="/Scripts/linq.min.js"></script>
	<script src="/Scripts/jsgrid.js"></script>

	<script src="/Scripts/Custom/constStrings.js"></script>
	<script src="/Scripts/Custom/Helper/httpHelper.js"></script>
	<script src="/Scripts/Custom/Helper/userHelper.js"></script>
	<script type="text/javascript" src="/Scripts/Custom/verificationForms.js"></script>
	<script type="text/javascript" src="/Scripts/Custom/formReg.js"></script>

	<script src="/Scripts/Custom/initSemantic.js"></script> 

	<link href="/Content/semantic.min.css" rel="stylesheet" type="text/css">
	<link href="/Content/form.css" rel="stylesheet" type="text/css">
	<link href="http://js-grid.com/css/jsgrid.min.css" rel="stylesheet"/>
	<link href="http://js-grid.com/css/jsgrid-theme.min.css" rel="stylesheet"/>
	<link href="/Content/chart.css" rel="stylesheet"/>
	<link href="/Content/datePicker.css" rel="stylesheet" />

</head>
<body style="background-color: #fff;">

<div class="ui page dimmer">
	<div class="content">
		<div class="ui indeterminate text loader"></div>
	</div>
</div>
	
<script>
	$('body').on('click', '#allUsers', function(val) {
		$("#jsGrid").jsGrid("refresh");
	});
</script>
<br/>
<div class="ui top attached tabular menu">
	<a class="active item" data-tab="first">Добавление пользователей</a>
	<a id="allUsers" class="item" data-tab="second">Все пользователи</a>
	<a id="chartTab" class="item" data-tab="third">Статистика посещений</a>
</div>
<div class="ui bottom attached active tab segment" data-tab="first">
	<div style="background-color: #f1f2f2;" class="ui two column centered grid">
		<div class="column">
			<br/>
			<h2 class="ui header">
				<i class="huge add user icon"></i>
				<div class="content">
					Добавление нового пользователя
					<div class="sub header">Добавьте достоверную информацию о новом пользователе и выберите</div>
				</div>
			</h2>
			<form id="form1" class="ui form">
				<div class="field">
					<input type="text" name="name" id="name" placeholder="Имя">
				</div>
				<div class="field">
					<input type="text" name="surName" id="surName" placeholder="Фамилия">
				</div>
				<div class="field">
					<input type="text" name="adress" id="adress" placeholder="Адрес">
				</div>
				<div class="field">
					<input type="email" name="email" id="email" placeholder="Почта">
				</div>
				<div class="field">
					<input type="password" name="password" id="password" placeholder="Пароль">
				</div>
				<div class="field">
					<input type="password" name="passwordConfirm" id="passwordConfirm" placeholder="Пароль">
				</div>
				<div class="ui form">
					<div class="grouped fields">
						<label>Выберите роль пользователя</label>
						<div class="field">
							<div class="ui slider checkbox">
								<input type="radio" name="throughput" checked="checked">
								<label>Сотрудник</label>
							</div>
						</div>
						<div class="field">
							<div class="ui slider checkbox">
								<input id="userRole" type="radio" name="throughput">
								<label>Клиент</label>
							</div>
						</div>
					</div>
				</div>
				<input type="submit" class="ui green button" id="submit" value="Зарегистрироваться">
			</form>
		</div>
	</div>
</div>
<div id="gridTab" class="ui bottom attached tab segment" data-tab="second" style="height: 100%;">
	<script src="/Scripts/Custom/userGrid.js"></script>
	<div id="jsGrid"></div>
</div>
<div id="gridTab2" class="ui bottom attached tab segment" data-tab="third" style="height: 100%;">

	<script src="/Scripts/Custom/dataPicker.js"></script>


	<div class="ui left icon input">
		<input id="datepickerFrom" type="text" placeholder="Начальная дата">
		<i class="calendar icon"></i>
	</div>
	<div class="ui left icon input">
		<input id="datepickerTo" type="text" placeholder="Конечная дата">
		<i class="calendar icon"></i>
	</div>
	<button style="display: none" id="btnFilter" class="ui primary button">
		Применить фильтр
	</button>
	@*<div id="datepickerFrom" style="display: none" class="calendar"></div>*@
	<br/>
	<div class="ui statistic">
		<div id="statisticToday" class="value"></div>
		<div class="label">
			Посещений сегодня
		</div>
	</div>
	<div class="ui statistic">
		<div id="statisticMonth" class="value"></div>
		<div class="label">
			Посещений за этот месяц
		</div>
	</div>
	<div class="ui statistic">
		<div id="statisticSelectedPeriod" class="value"></div>
		<div class="label">
			Посещений за выбранный период
		</div>
	</div>

	<script src="https://d1ec1d2ae01c77d314c16499ce0d37ff0ae5dfcb.googledrive.com/host/0B9kKjS1LSFe8TC01TFdTVG9IVEU/chart.min.js"></script>
	<script src="/Scripts/Custom/chart.js"></script>
	<script src="/Scripts/Custom/dataPicker.js"></script>

	<h1></h1>
	<section id="chartContainer">
		<canvas></canvas>
	</section>
	<footer></footer>


</div>
</body>
</html>
