﻿    <title>Представьтесь</title>
    <meta charset="utf-8" />
    <script type="text/javascript" src="/Scripts/jquery.validate.min.js"></script>
    @*<script type="text/javascript" src="/Scripts/Semantic/checkbox.min.js"></script>
        <script type="text/javascript" src="/Scripts/Semantic/tab.min.js"></script>*@
<script type="text/javascript" src="/Scripts/Custom/verificationForms.js"></script>
<script type="text/javascript" src="/Scripts/Custom/constStrings.js"></script>


<script src="/Scripts/Custom/Helper/httpHelper.js"></script>
<script src="/Scripts/Custom/Helper/userHelper.js"></script>

<script type="text/javascript" src="/Scripts/Custom/login.js"></script>
    <script type="text/javascript" src="/Scripts/linq.min.js"></script>

    <link href="/Content/semantic.min.css" rel="stylesheet" type="text/css">
    <link href="/Content/form.css" rel="stylesheet" type="text/css">

<script src="/Scripts/Custom/initSemantic.js"></script>

<div class="ui page dimmer">
	<div class="content">
		<div class="ui indeterminate text loader"></div>
	</div>
</div>

    <div class="ui bottom attached segment">
        <div style="background-color: #f1f2f2;" class="ui two column centered grid">
            <div class="column">
                <br />
                <h2 class="ui header">
                    <i class="huge add user icon"></i>
                    <div class="content">
                        Представьтесь
                        <div class="sub header">Введите свои данные для получения доступа</div>
                    </div>
                </h2>
                <form id="form1" class="ui form">
                    <div class="field">
                        <input type="email" name="email" id="email" placeholder="Почта">
                    </div>
                    <div class="field">
                        <input type="password" name="password" id="password" placeholder="Пароль">
                    </div>
                    <input type="submit" class="ui green button" id="submit" value="Войти">
                </form>
            </div>
        </div>
    </div>