﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="/Scripts/linq.min.js"></script>

<link href="http://js-grid.com/css/jsgrid.min.css" rel="stylesheet" />
<link href="http://js-grid.com/css/jsgrid-theme.min.css" rel="stylesheet" />
<script src="/Scripts/jsgrid.js"></script>
<script src="/Scripts/Custom/constStrings.js"></script>

<script src="/Scripts/Custom/Helper/httpHelper.js"></script>
<script src="/Scripts/Custom/Helper/userHelper.js"></script>
<script src="/Scripts/Custom/Helper/helper.js"></script>

<script src="/Scripts/Custom/initSemantic.js"></script>
<script src="/Scripts/Custom/categoryGrid.js"></script>
<script src="/Scripts/Custom/productsGrid.js"></script>
<script src="/Scripts/Custom/ordersGrid.js"></script>

<div class="ui basic modal">
    <i class="close icon"></i>
    <div class="header">
        <p id="modalTitle">Создайте новый продукт</p>
    </div>
    <div class="image content">
        <div class="image">
            <i class="archive icon"></i>
        </div>
        <div class="description">
            <p id="modalDescription">Заполните поля</p>
        </div>
    </div>
    <div class="actions">
        <div class="two fluid ui inverted">
            <div class="ui form">
                <div class="field">
                    <input id="titleProduct" type="text" placeholder="Название">
                </div>
                <div id="modalCategory" class="field">
                    <select id="categoryProduct"  class="ui search dropdown">
                    </select>
                </div>
                <div id="imageModalCard" class="field">
                    <div  class="ui centered card">
                        <div class="image">
                            <img id="imageProduct" class="ui centered medium image" src="">
                        </div>
                        <div class="content">
                            <div id="fileButton" class="ui fluid blue button">Выбирите изображение</div>
                            <input type="file" style="width: 0px;" id="hideFileProduct">
                        </div>
                    </div>
                </div>
                <div  id="sizeProduct" class="field">
                          <div class="field">
                              <div class="ui fluid multiple search selection dropdown">
                                  <input  id="dropDownSizeProduct" name="tags" type="hidden" value="">
                                  <i class="dropdown icon"></i>
                                  <input class="search" autocomplete="off" tabindex="0"><div class="default text">Размеры</div>
                                  <div class="menu transition hidden" tabindex="-1">
                                  </div>
                              </div>
                          </div>
    </div>
    <div class="field">
        <input id="priceProduct" type="text" placeholder="Цена">
    </div>
    <div class="field">
        <input id="vendorCodeProduct" type="text" placeholder="Артикул">
    </div>
    <div class="field">
        <textarea id="descriptionProduct" rows="2"></textarea>
    </div>
    <button id="addProduct" class="ui green button" type="submit">Добавить</button>
</div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var categ = categories();
        for (var i = 0; i < categ.length; i++) {
            $('#categoryProduct').append(' <option value="' + categ[i].Id + '">' + categ[i].Title + '</option>');
        }
    });
    document.getElementById('fileButton').onclick = function () {
        document.getElementById('hideFileProduct').click();
    };
    $("#hideFileProduct").change(function () {
        fileToBase64(document.getElementById('hideFileProduct').files[0], function (e) {
            $("#imageProduct").attr("src", 'data:image/jpeg;base64,' + btoa(e.target.result));
        });
    });
    $('body').on('click', '#allTabs', function (val) {
        $("#jsGrid").jsGrid("refresh");
        $("#jsGridTritium").jsGrid("refresh");
        $("#jsGridorders").jsGrid("refresh");
    });
</script>

<div id="allTabs" class="ui top attached tabular menu">
    <a class="active item" data-tab="first">Список товаров</a>
    <a class="item" data-tab="second">Список заказов</a>
    <a class="item" data-tab="tritium">Список категорий</a>
</div>
<div class="ui bottom attached tab segment" data-tab="second">
     <div id="jsGridorders"></div> 
</div>
<div class="ui bottom attached tab segment active" data-tab="first">
    <div id="createModal" class="ui green button">Создать новый продукт</div>
    <div id="jsGrid"></div>
</div>
<div class="ui bottom attached tab segment" data-tab="tritium">
    <div id="createModalCategory" class="ui green button">Создать новую категорию</div>
   <div id="jsGridTritium"></div>
</div>
<script src="/Scripts/Custom/modalEmployeeParam.js"></script>