﻿body {
  background: #f7f6f3;
  font-family: open-sans;
}
#ui-datepicker-div {
  /*position: absolute;*/
  width: 280px;
  left: 50%;
  top: 50%;
  /*margin: -145px 0px 0px -140px;*/
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.ui-datepicker-header {
  height: 50px;
  line-height: 50px;
  color: #f26a63;
  margin-bottom: 10px;
}
.ui-datepicker-prev,
.ui-datepicker-next {
  width: 20px;
  height: 20px;
  text-indent: 9999px;
  border-radius: 100%;
  cursor: pointer;
  overflow: hidden;
  margin-top: 12px;
}
.ui-datepicker-prev {
  float: left;
  margin-left: 12px;
}
.ui-datepicker-prev:after {
  transform: rotate(45deg);
  margin: -43px 0px 0px 8px;
}
.ui-datepicker-next {
  float: right;
  margin-right: 12px;
}
.ui-datepicker-next:after {
  transform: rotate(-135deg);
  margin: -43px 0px 0px 6px;
}
.ui-datepicker-prev:after,
.ui-datepicker-next:after {
  content: '';
  position: absolute;
  display: block;
  width: 4px;
  height: 4px;
  border-left: 2px solid #b0aead;
  border-bottom: 2px solid #b0aead;
}
.ui-datepicker-title {
  text-align: center;
}
.ui-datepicker-calendar {
  width: 100%;
  text-align: center;
}
.ui-datepicker-calendar thead tr th span {
  display: block;
  width: 40px;
  color: #f26a63;
  margin-bottom: 5px;
  font-size: 13px;
  text-transform: uppercase;
}
.ui-state-default {
  display: block;
  text-decoration: none;
  color: #f26a63;
  line-height: 40px;
  font-size: 12px;
}
.ui-state-default:hover {
  background: #4da036;
  color: #fff;
  border-radius: 20px;
}
.ui-state-highlight {
  color: #4da036;
  font-weight: bold;
}
.ui-state-active {
  background: #4da036;
  color: #fff;
  border-radius: 20px;
}
.ui-datepicker-unselectable .ui-state-default {
  color: #eee;
  border: 2px solid #808080;
}